#Exclude all files
/*
#Globally exclude these types
*~
*.swp
*.pyo
*.pyc
*.exe
*.EXE

#Below are temporall LaTeX files
*.prv #auctex's shit
*auto/  #auctex's shit - git is still including that! So how to ignore directories?
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.pdf
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0

#Include these directories
!/.config
/.config/*
!/.config/awesome/*
!/.config/ranger/commands.py
!/.config/ranger/rc.conf
!/.config/ranger/rifle.conf
!/.config/ranger/scope.sh
!/.config/zathura/*
!/.vim
/.vim/*
!/.vim/bundle/vundle
!/.vim/vundle-plugin-list
!/.vim/gvimrc
!/.vim/vimrc
!/.tmux
!/.tmux.conf
!/.mpd
/.mpd/*
!/.mpd/mpd.conf
!/.mpd/playlists
/.ncmpcpp*
!/.ncmpcpp/config
!/.ncmpcpp/keys
!/.stardict
!/.themes
!/bin
!/.Xdefaults
!/.colors
!/.bash.d
/.bash.d/bash_history
!/.bashrc
!/.emacs.d
/.emacs.d/auto-save-list
/.emacs.d/el-get
/.emacs.d/cache
/.emacs.d/ac-comphist.dat
/.emacs.d/eshell/
!/.emacs
!/.fonts.conf
!/.gitconfig
!/.gitmodules
!/.gitignore
!/.gvimrc
!/.vimrc
!/.pentadactylrc
!/.profile
!/.rtorrent.rc
!/.xbindkeysrc
!/.xinitrc

