#Exclude all files
/*
#Globally exclude these types
*~
*.swp
*.pyo
*.pyc
*.exe
*.EXE

#Below are temporall LaTeX files 
*.prv #auctex's shit
auto  #auctex's shit
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.pdf
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
#Include these directories
!/.config
/.config/.libreoffice
/.config/libreoffice
!/.config/transmission/
/.config/transmission/*
!/.config/transmission/settings.json
/.config/ranger/__pycache__
/.config/ranger/history
!/.vim
/.vim/*
!/.vim/gvimrc
!/.vim/vimrc
!/.mpd
/.mpd/*
!/.mpd/mpd.conf
!/.mpd/playlists
!/.ncmpcpp
!/.orta
!/.stardict
!/.themes
!/bin
#shm
!/.shm_bak
/.shm_bak/pentadactyl.bak/
#!/.Skype
#!/.adobe
#!/.gconf
#!/.gconfd
#!/.macromedia
#!/.pentadactyl

!/.Xdefaults
!/.aspell.sk.prepl
!/.aspell.sk.pws
!/.bash.d
/.bash.d/bash_history
!/.bashrc
!/.bash_login
!/.emacs.d
/.emacs.d/auto-save-list
/.emacs.d/el-get
/.emacs.d/cache
/.emacs.d/ac-comphist.dat
!/.emacs
!/.fonts.conf
!/.galculator
!/.gitconfig
!/.gitmodules
!/.gitignore
!/.gtk-bookmarks
!/.gtkrc-2.0
!/.gtkrc-2.0.mine
!/.gvimrc
!/.vimrc
!/.pentadactylrc
!/.profile
!/.rtorrent.rc
!/.screenrc
!/.trayfreq.config
!/.xbindkeysrc
!/.xinitrc

