include "Styles/Gradients/Globalmenu/default.rc"
include "Styles/Menubar/menubar-default.rc"
include "Styles/Gradients/No-Gtk/gradient-default.rc"
include "Styles/Menubar/No-Gtk/menubar-default.rc"
include "Styles/Notebook/notebook-smooth-default.rc"
include "Styles/Tabs/tabs-smooth.rc"
include "Styles/Tabs/No-Gtk/tabs-smooth.rc"
include "Styles/Notebook/notebook-mozilla.rc"
include "Styles/Tabs/Mozilla/tabs-smooth-flat.rc"
include "Styles/Sliders/scrollbars-thin.rc"
include "Styles/Nautilus/nautilus-with-menubar.rc"
include "Styles/Nautilus/nautilus-menubar.rc"
include "Styles/Nautilus/breadcrumbs-default.rc"
include "Styles/Menu/menu.rc"
include "Styles/Menu-Item/menu-item-squared.rc"
include "Styles/Panel/panel-light-default.rc"
include "Styles/Expanders/arrow.rc"
